// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-menu[side=right] .menu-inner {
	    width: 45%;
}

ion-menu[side=left] .menu-inner {
	    width: 50%;
}


.searchbar-search-icon { 
	display:none; 
	width:0; 
	height:0;
}

.searchbar-input {
	padding-left: 5px !important;
	padding-right: 9px !important;
}
