.ios, .md {

	page-intro {

		ion-slide {
			background-color: rgb(151,191,13);
		}

		ion-slide img {
			height: 70vh !important;
			width: auto !important;
		}

		.swiper-pagination-bullet-active {
			background: #000000;
		}
	}

}
