<ion-header no-border>
	<ion-navbar>
		<ion-searchbar [(ngModel)]="searchTerm" (keyup.enter)="setFilteredItems($event)" [showCancelButton]="shouldShowCancel" placeholder="Suche Global" ></ion-searchbar>
		<ion-buttons end>
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item *ngFor="let item of filterdata;  let i = index" (click)='showitem(item)'>
			<strong>{{item[4]}}</strong> <br/>
			{{item[5]}}<br/>
			<p align="right"><small>&asymp; {{item[30]}} km </small></p>
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-buttons end>
			<button ion-button color="save" (click)='ShowCard()' *ngIf="show == true">
				<span>Zur Karte <ion-icon name="ios-arrow-forward"></ion-icon></span>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
<!--<ion-content>
  <div id="mapevent" style="width:100%; height:100%;"></div>
</ion-content>-->
